<div class="row">
      <div class="large-12 columns">
		<form>
		  <fieldset>
		    <legend>Front</legend>
		    <center><h2><%= @flashcard.front %></h2></center>
		  </fieldset>
		  <fieldset>
		    <legend>Back</legend>
		    <center>
		    	<%= link_to_function "Reveal Answer", "$('#flashcard-button').hide();$('#flashcard-back').fadeIn();$('#buttons').fadeIn();", class: 'button', id: 'flashcard-button' %>
		    </center>
		    <div id="flashcard-back">
		    	<center><h3><%= @flashcard.back %></h3></center>
		    </div>
		    </label>
		  </fieldset>
		</form>
		<ul class="button-group even-4 round" id="buttons">
		  <li><a href="#" class="button secondary">Again</a></li>
		  <li><a href="#" class="button secondary">Hard</a></li>
		  <li><a href="#" class="button secondary">Good</a></li>
		  <li><a href="#" class="button secondary">Easy</a></li>
		</ul>
	</div>
</div>