<div class="row">
      <div class="large-12 columns">
		<form>
		  <fieldset>
		    <legend>Front</legend>
		    <center><h2>Le front of card</h2></center>
		  </fieldset>
		  <fieldset>
		    <legend>Back</legend>
			<center><a href="#" class="button">Reveal Answer</a></center>
		    </label>
		  </fieldset>
		</form>
		<ul class="button-group even-4 round">
		  <li><a href="#" class="button secondary">Again</a></li>
		  <li><a href="#" class="button secondary">Hard</a></li>
		  <li><a href="#" class="button secondary">Good</a></li>
		  <li><a href="#" class="button secondary">Easy</a></li>
		</ul>
	</div>
</div>