<div class="row">
  <div class="large-12 columns">
    <!-- Desktop Slider -->

    <div class="hide-for-small">
      <div id="featured"><%= image_tag "head-img.png" %></div>
    </div><!-- End Desktop Slider -->
    <!-- Mobile Header -->

    <div class="row">
      <div class="small-12 show-for-small"><br>
      <img src="http://placehold.it/1000x600&amp;text=For%20Small%20Screens"></div>
    </div><!-- End Mobile Header -->
  </div>
</div><br>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <!-- Content -->

      <div class="large-8 columns">
        <div class="panel radius">
          <div class="row">
            <div class="large-6 small-6 columns">
              <h4>Welcome</h4>
              <hr>

              <h5 class="subheader">Welcome to my amazing little flashcard program. It uses research into memory to do some machine learning on your brain!!!</h5>

              <div class="show-for-small" style="text-align: center">
                <a class="small radius button" href="#">Call To Action!</a><br>
                <a class="small radius button" href="#">Call To Action!</a>
              </div>
            </div>

            <div class="large-6 small-6 columns">
              <p>That's right. This has a machine learning algorithm and will probably run off MongoDB as I intend for the data to be rather unstructured. Can't wait to try it all out and see how it fits together.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="large-4 columns hide-for-small">
        <h4>Get Started!</h4>
        <hr>
        <a href="#">
        <div class="panel radius callout" style="text-align: center">
          <strong>Foo</strong>
        </div></a> <a href="#">
        <div class="panel radius callout" style="text-align: center">
          <strong>Bar</strong>
        </div></a>
      </div><!-- End Content -->
    </div>
  </div>
</div><!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr>

    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>

      <div class="large-6 columns">
        <ul class="inline-list right">
          <li>
            <a href="#">Link 1</a>
          </li>

          <li>
            <a href="#">Link 2</a>
          </li>

          <li>
            <a href="#">Link 3</a>
          </li>

          <li>
            <a href="#">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
