<h1>Frequently Asked Questions</h1>
<ul>
  <li><a href="#1">What is a Virtual Flashcard System?</a></li>
  <li><a href="#2">What is Spaced Repetition?</a></li>
  <li><a href="#3">How do I use this site?</a></li>
  <li><a href="#4">Is this site free to use?</a></li>
</ul>
<h3 id="1">What is a Virtual Flashcard System?</h3>
<p>A Virtual Flashcard System mimics paper-based flashcards on the computer. There are many benefits to using a Virtual Flashcard System over paper-based flashcards, such as; no physical space requirements, easier to edit, easier to sort.</p>
<h3 id="2">What is Spaced Repetition?</h3>
<p>Spaced Repetition is the process of creating an interval between flashcard revisions so that you do not have to review all flashcards every day. The system increases the duration between revisions based on the amount of times that you have answered that flashcard correctly; this means that you wont waste time reviewing easy flashcards that you already know and will focus more of your time and energy on reviewing the difficult flashcards.</p>
<h3 id="3">How do I use this site?</h3>
<p>First you need to register an account by clicking on the register button in the top right hand corner. You then need to fill in the form and you will be automatically logged in.</p>
<p>Once logged in you can go to the deck manager and create your first deck, and then create flashcards to put in the deck. When there are flashcards in the deck you can review the deck from the deck manager.</p>
<h3 id="4">Is this site free to use?</h3>
<p>This site is free to use, and will always remain free to use. It is also completely open-source and available on Github at <%= link_to "https://github.com/emesto/flashcards", "https://github.com/emesto/flashcards" %>.</p>