<h1>Contact Us</h1>
<p>We would like to know if you have any issues with the site, or if you would just like to leave some feedback.</p>
<p>Please contact us at <%= link_to "contact@myflashcards.com", "mailto:contact@myflashcards.com" %>.</p>
