<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
          <div class="row">
              <div class="large-12 columns" style="padding-top:20px;">
                <center>
                <video id="player1" width="640" height="360" controls="control" preload="none">   
                  <source src="../assets/tutorial.mp4" type="video/mp4" />
                  <track kind="subtitles" srclang="en" src="../assets/transcript.srt"></track>
                </video>
              </center>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>