      <div class="large-12 columns">
          <div class="row">
              <div class="large-12 columns" style="padding-top:20px;">
                <center>
                  <video id="player1" width="640" height="360" controls="control" preload="none">   
                    <source src="../assets/tutorial.mp4" type="video/mp4" />
                    <track kind="subtitles" srclang="en" src="../assets/transcript.srt"></track>
                  </video>
                </center>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" style="padding-top:20px;">
                <div class="panel">
                  <h4>Transcript</h4>
                  
                  <p>Hello and welcome to the myFlashcards Virtual Flashcard System tutorial. Today I am going to be showing you how to use the MyFlashcards Virtual Flashcard System.</p>

                  <p>The first thing that we need to do is register an account and the way we do this is that we go to the top right hand corner of the screen and click the register button. From here we need to enter our registration details which is very simple; it's just an email and a password. You also need to do a password confirmation to make sure you spelt the password correctly.</p>

                  <p>Once you have done that you need to click on the create user button. This will create an account and log you in to the front page. As you can see it says you are logged in as demo@demo.com which is the email address that we specified when we registered.</p>
                  
                  <p>Here are the statistics and at the moment we have no flashcards no reviews, and no new cards, which is to be expected as this is a new account. If you look here it also says that we have no decks created.</p>

                  <p>The next thing we need to do is to create our first deck. This is done by going to the top of the screen and clicking on the manage decks button. From this screen we can create our first deck. This is done by typing in the name of the deck in the text field at the top of the screen. I'm going to call this deck 'Japanese'.</p>

                  <p>Once you have done that you need to click on the create deck button. As you can see, once that is done a message appears at the top of the screen that says that the deck has been created. We can also see the deck listed in the table below.</p>

                  <p>You will notice that at the moment the deck is empty and there is a card count of zero. There are two different ways to manage the flashcards in this deck: You can click on the manage flashcards link at the top of the screen which will allow you to manage the flashcards in any deck not just this deck. Or, you can click on the manage flashcards button here which allows you to manage the flashcards of this specific deck.</p>

                  <p>For now I'm going to manage the flashcards for this deck by clicking on the button here. As you can probably tell, the flashcard manager is very similar to the deck manager. We have a form at the top of the screen which allows you to create a new flashcard and the deck has automatically been selected as the Japanese deck. From here we can enter the front and the back of the flashcard.</p>

                  <p>As an example I'm going to write the flashcard here. And once you fill that in you click on the create flashcard button. A message has appeared at the top of the screen again, this time it says that a flashcard has been created. And we can see in the table below our flashcard which is in the Japanese deck. Here we have the front of the card. The back of the card. When the card is due. And some tools such as edit and delete.</p>

                  <p>The due is something worth explaining. This is the main focus of this website. It's a spacing algorithm which determines how often you will see this flashcard. As an example; if you have 10,000 flashcards, each with a different word, and you want to make sure that you know all of these words on all of these flashcards...</p>

                  <p>It's not viable to review 10,000 flashcards every day because this will take a long amount of time. So what we have is a spaced repetition algorithm which tries to predict when you are going to forget the flashcard and will only show you the flashcard directly before you are about to forget that card.</p>

                  <p>What that means is you can have 10,000 flashcards but you are only reviewing 20 or 30 in one day. Which can significantly reduce the amount of time that you spend reviewing flashcards.</p>

                  <p>Now that we have our first flashcard it's time to try reviewing our flashcards. It's important to note that you don't review individual flashcards; you review the deck that the flashcards are a part of. The first thing we need to do is go to the top of the screen and click on the manage decks button. From here we can see our deck the Japanese deck, it now has a card count of 1 which is to be expected. To review this, all we need to do is click on the review deck button.</p>

                  <p>This screen is the reviewing screen. As you can see, this is the front of the flashcard which is now visible, and the back of the flashcard is invisible at the moment. You have to click on the reveal answer button to see the answer. What you have to do is try to guess what is on the back of the flashcard just as you would with a traditional flashcard. I know that the answer to this is hello so I'm going to click on the reveal answer button. As you can see the back of the flashcard is now visible and I was correct.</p>

                  <p>There are four buttons at the bottom of the screen here and these are for grading how difficult it was for you to answer that card. Now for me that flashcard was very easy so I would normally click on the easy button. However, I'm just going to show you that if you click on the again button you will just review the same flashcard again. If you are reviewing more than one flashcard you will see more flashcards before you come up with the same flashcard again.</p>

                  <p>The idea is to grade how difficult that was and that allows the algorithm to predict when you are likely to forget this flashcard. </p>

                  <p>That concludes the tutorial, thank you for watching. Stay tuned as more videos will be released in the future for other features that are being added to myFlashcards. Thank you.</p>
                </div>
              </div>
            </div>   
        </div>